target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea/*
### BUILD ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
doc/
target/
out/
.DS_Store
.vscode/settings.json
logs/
.flattened-pom.xml